@page "/todo"

<h3>Todo list (@todos.Count(todo => !todo.IsDone))</h3>



<input placeholder="Somthing Todo" @bind="newTodo"/>
<button @onclick="AddTodo">Add todo</button>
<p>
    
</p>
<ul>
    @foreach (var todo in todos)
    {
        <p>
            <input type="checkbox" @bind="todo.IsDone"/>
            <input @bind="todo.Title"/>
        </p>
    }
</ul>



@code {

    private List<TodoItem> todos= new();
    private string newTodo;    

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        todos.Add(new TodoItem { Title = newTodo});
        newTodo=string.Empty;
    }    


    public class TodoItem 
    {
        public string Title {get; set;}
        public bool IsDone {get; set;}
    }
}
