@page "/todo"

<h3>Todo list (@todos.Count(todo => !todo.IsDone))</h3>


<input placeholder="Somthing Todo" @bind="newTodo"/>
<button @onclick="AddTodo">Add todo</button>
<p>
    
</p>
<ul>
    @foreach (var todo in todos)
    {
        <p>
            <input type="checkbox" @bind="todo.IsDone"/>
            @todo.Title
            <button @onclick="(e) => AddSubItem(todo)">Add Sub Item</button>
            <input placeholder="Sub Item" @bind="newSubItem"/>
            <ul> 
                @if (todo.SubItems !=null) 
                {
                    @foreach(var subitem in todo.SubItems)
                    {
                        <li>
                            @subitem
                        </li>
                    }
                }
            </ul>
        </p>
    }
</ul>



@code {

    private List<TodoItem> todos= new();
    private string newTodo;
    private string newSubItem;    

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo});
            newTodo=string.Empty;
        }
    }    

    private void AddSubItem(TodoItem currentTodo) 
    {
       if (currentTodo.SubItems == null) 
       {
            currentTodo.SubItems = new List<string>();
       }
       currentTodo.SubItems.Add(newSubItem); 

    }



    public class TodoItem 
    {
        public string Title {get; set;}
        public bool IsDone {get; set;}
        public List<string> SubItems {get; set;}
    }
}
